In [5]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# hello world
data = pd.read_csv('loan_data_2007_2014.csv', low_memory=False)
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Inspection

### loan_amnt

In [7]:
print(data['loan_amnt'].describe())
data['loan_amnt'].isnull().sum()

count    466285.000000
mean      14317.277577
std        8286.509164
min         500.000000
25%        8000.000000
50%       12000.000000
75%       20000.000000
max       35000.000000
Name: loan_amnt, dtype: float64

0

### funded_amnt

In [5]:
print(data['funded_amnt'].describe())
print(data['funded_amnt'].isnull().sum())

count    466285.000000
mean      14291.801044
std        8274.371300
min         500.000000
25%        8000.000000
50%       12000.000000
75%       20000.000000
max       35000.000000
Name: funded_amnt, dtype: float64
0

### funded_amnt_inv

In [6]:
print(data['funded_amnt_inv'].describe())
print(data['funded_amnt_inv'].isnull().sum())

count    466285.000000
mean      14222.329888
std        8297.637788
min           0.000000
25%        8000.000000
50%       12000.000000
75%       19950.000000
max       35000.000000
Name: funded_amnt_inv, dtype: float64
0

### term

In [7]:
print(data['term'].value_counts())
print(data['term'].isnull().sum())

 36 months    337953
 60 months    128332
Name: term, dtype: int64
0

### int_rate

In [8]:
print(data['int_rate'].describe())
print(data['int_rate'].isnull().sum())

count    466285.000000
mean         13.829236
std           4.357587
min           5.420000
25%          10.990000
50%          13.660000
75%          16.490000
max          26.060000
Name: int_rate, dtype: float64
0

### installment

In [9]:
print(data['installment'].describe())
print(data['installment'].isnull().sum())

count    466285.000000
mean        432.061201
std         243.485550
min          15.670000
25%         256.690000
50%         379.890000
75%         566.580000
max        1409.990000
Name: installment, dtype: float64
0

### grade

In [10]:
print(data['grade'].value_counts())
print(data['grade'].isnull().sum())

B    136929
C    125293
D     76888
A     74867
E     35757
F     13229
G      3322
Name: grade, dtype: int64
0

### sub_grade

In [11]:
print(data['sub_grade'].value_counts())
print(data['sub_grade'].isnull().sum())

B3    31686
B4    30505
C1    26953
C2    26740
B2    26610
C3    25317
B5    25252
C4    24105
B1    22876
C5    22178
A5    21757
D1    19261
A4    19045
D2    17046
D3    14916
D4    14099
A3    12568
D5    11566
A2    10956
A1    10541
E1     9033
E2     8669
E3     6976
E4     5992
E5     5087
F1     3940
F2     3001
F3     2708
F4     2067
F5     1513
G1     1109
G2      823
G3      583
G4      422
G5      385
Name: sub_grade, dtype: int64
0

### emp_length

In [12]:
print(data['emp_length'].value_counts())
print(data['emp_length'].isnull().sum())

10+ years    150049
2 years       41373
3 years       36596
< 1 year      36265
5 years       30774
1 year        29622
4 years       28023
7 years       26180
6 years       26112
8 years       22395
9 years       17888
Name: emp_length, dtype: int64
21008

### home_ownership

In [13]:
print(data['home_ownership'].value_counts())
print(data['home_ownership'].isnull().sum())

MORTGAGE    235875
RENT        188473
OWN          41704
OTHER          182
NONE            50
ANY              1
Name: home_ownership, dtype: int64
0

### annual_inc

In [14]:
print(data['annual_inc'].describe())
print(data['annual_inc'].isnull().sum())

count    4.662810e+05
mean     7.327738e+04
std      5.496357e+04
min      1.896000e+03
25%      4.500000e+04
50%      6.300000e+04
75%      8.896000e+04
max      7.500000e+06
Name: annual_inc, dtype: float64
4

### verification_status

In [15]:
print(data['verification_status'].value_counts())
print(data['verification_status'].isnull().sum())

Verified           168055
Source Verified    149993
Not Verified       148237
Name: verification_status, dtype: int64
0

### issue_d

In [16]:
print(data['issue_d'].describe())
print(data['issue_d'].isnull().sum())

count     466285
unique        91
top       Oct-14
freq       38782
Name: issue_d, dtype: object
0

### loan_status

In [17]:
print(data['loan_status'].value_counts())
print(data['loan_status'].isnull().sum())

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64
0

### pymnt_plan

In [18]:
print(data['pymnt_plan'].value_counts())
print(data['pymnt_plan'].isnull().sum())

n    466276
y         9
Name: pymnt_plan, dtype: int64
0

### purpose

In [19]:
print(data['purpose'].value_counts())
print(data['purpose'].isnull().sum())

debt_consolidation    274195
credit_card           104157
home_improvement       26537
other                  23690
major_purchase          9828
small_business          7013
car                     5397
medical                 4602
moving                  2994
vacation                2487
wedding                 2343
house                   2269
educational              422
renewable_energy         351
Name: purpose, dtype: int64
0

In [24]:
#function to print all the columns
def printcolumns():
    for col in data:
        print(col)
printcolumns()

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_il_6m
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m

# title

In [28]:
print(data['title'].value_counts())
print(data['title'].isnull().sum())

Debt consolidation                      164075
Credit card refinancing                  62275
Debt Consolidation                       15760
Home improvement                         14849
Other                                    12713
                                         ...
Citibank Sux Loan                            1
Consolidating Debt to Increase FICO          1
Zero Credit Cards                            1
Credit cards/apartment                       1
Alabama                                      1
Name: title, Length: 63098, dtype: int64
20

In [30]:
data['title'].describe()

count                 466265
unique                 63098
top       Debt consolidation
freq                  164075
Name: title, dtype: object

# zip_code

In [31]:
print(data['zip_code'].value_counts())
print(data['zip_code'].isnull().sum())

945xx    5304
112xx    5102
750xx    5013
606xx    4696
100xx    4391
         ...
429xx       1
510xx       1
513xx       1
522xx       1
582xx       1
Name: zip_code, Length: 888, dtype: int64
0

# addr_state

In [32]:
print(data['addr_state'].value_counts())
print(data['addr_state'].isnull().sum())

CA    71450
NY    40242
TX    36439
FL    31637
IL    18612
NJ    18061
PA    16424
OH    15237
GA    14975
VA    14222
NC    12682
MI    11549
MA    11072
MD    10974
AZ    10712
WA    10517
CO     9739
MN     8158
MO     7508
CT     7204
IN     6525
NV     6519
TN     5984
OR     5949
WI     5911
AL     5853
SC     5583
LA     5489
KY     4438
KS     4190
OK     4117
AR     3488
UT     3428
NM     2588
HI     2487
WV     2412
NH     2232
RI     2050
DC     1426
MT     1396
DE     1272
AK     1251
MS     1226
WY     1128
SD      980
VT      905
IA       14
NE       14
ID       12
ME        4
Name: addr_state, dtype: int64
0

# dti

In [33]:
print(data['dti'].value_counts())
print(data['dti'].isnull().sum())

14.40    410
19.20    381
12.00    369
16.80    368
18.00    365
        ...
36.52      2
39.94      1
39.14      1
38.95      1
35.54      1
Name: dti, Length: 3997, dtype: int64
0

# deling_2yrs

In [36]:
print(data['delinq_2yrs'].value_counts())
print(data['delinq_2yrs'].isnull().sum())

0.0     382954
1.0      56224
2.0      16310
3.0       5684
4.0       2378
5.0       1236
6.0        629
7.0        346
8.0        177
9.0        111
10.0        65
11.0        41
12.0        38
13.0        25
14.0         8
15.0         7
18.0         6
16.0         5
19.0         3
17.0         3
21.0         2
22.0         2
29.0         1
24.0         1
Name: delinq_2yrs, dtype: int64
29

# earliest_cr_line

In [37]:
print(data['earliest_cr_line'].value_counts())
print(data['earliest_cr_line'].isnull().sum())

Oct-00    3674
Aug-00    3597
Aug-01    3455
Oct-99    3406
Oct-01    3329
          ...
Jul-62       1
May-53       1
Jan-44       1
Jul-58       1
Nov-53       1
Name: earliest_cr_line, Length: 664, dtype: int64
29

# inq_last_6mths

In [39]:
print(data['inq_last_6mths'].value_counts())
print(data['inq_last_6mths'].isnull().sum())

0.0     241498
1.0     130148
2.0      57825
3.0      25126
4.0       7241
5.0       2768
6.0       1188
7.0        195
8.0        122
9.0         50
10.0        24
11.0        15
12.0        15
15.0         9
14.0         6
13.0         6
18.0         4
16.0         3
19.0         2
17.0         2
24.0         2
25.0         1
20.0         1
31.0         1
27.0         1
28.0         1
33.0         1
32.0         1
Name: inq_last_6mths, dtype: int64
29

# mths_since_last_delinq

In [40]:
print(data['mths_since_last_delinq'].value_counts())
print(data['mths_since_last_delinq'].isnull().sum())

9.0      4358
8.0      4272
13.0     4260
12.0     4193
10.0     4146
         ...
152.0       1
139.0       1
151.0       1
108.0       1
180.0       1
Name: mths_since_last_delinq, Length: 145, dtype: int64
250351

# mths_since_last_record

In [41]:
print(data['mths_since_last_record'].value_counts())
print(data['mths_since_last_record'].isnull().sum())

0.0      1278
109.0    1098
108.0     999
106.0     968
104.0     953
         ...
1.0        28
2.0        24
120.0       2
121.0       2
129.0       1
Name: mths_since_last_record, Length: 123, dtype: int64
403647

# open_acc

In [42]:
print(data['open_acc'].value_counts())
print(data['open_acc'].isnull().sum())

9.0     44019
10.0    42512
8.0     41893
11.0    39112
7.0     37602
        ...
76.0        2
75.0        1
84.0        1
61.0        1
62.0        1
Name: open_acc, Length: 62, dtype: int64
29

# pub_rec

In [43]:
print(data['pub_rec'].value_counts())
print(data['pub_rec'].isnull().sum())

0.0     404893
1.0      53051
2.0       5624
3.0       1611
4.0        520
5.0        276
6.0        136
7.0         62
8.0         29
9.0         16
10.0        13
11.0         8
18.0         2
13.0         2
12.0         2
16.0         1
40.0         1
21.0         1
14.0         1
15.0         1
19.0         1
49.0         1
17.0         1
63.0         1
34.0         1
54.0         1
Name: pub_rec, dtype: int64
29

### revol_bal

In [6]:
print(data['revol_bal'].value_counts())
print(data['revol_bal'].isnull().sum())

0         2269
6052        40
8696        39
5896        39
4532        39
          ...
51021        1
38032        1
45601        1
40823        1
119663       1
Name: revol_bal, Length: 58142, dtype: int64
0

### revol_util

In [7]:
print(data['revol_util'].value_counts())
print(data['revol_util'].isnull().sum())

0.00      2284
58.00      864
53.00      850
59.00      845
61.00      832
          ...
8.49         1
88.48        1
7.43         1
11.63        1
141.80       1
Name: revol_util, Length: 1269, dtype: int64
340

### total_acc

In [8]:
print(data['total_acc'].value_counts())
print(data['total_acc'].isnull().sum())

21.0     17087
20.0     17073
22.0     17028
23.0     16719
19.0     16709
         ...
106.0        1
156.0        1
101.0        1
96.0         1
118.0        1
Name: total_acc, Length: 112, dtype: int64
29

### initial_list_status

In [9]:
print(data['initial_list_status'].value_counts())
print(data['initial_list_status'].isnull().sum())

f    303005
w    163280
Name: initial_list_status, dtype: int64
0

### out_prncp

In [10]:
print(data['out_prncp'].value_counts())
print(data['out_prncp'].isnull().sum())

0.00        229999
5684.61         80
6563.61         79
5617.88         78
6110.65         76
             ...
788.62           1
2656.39          1
602.44           1
18067.18         1
3984.38          1
Name: out_prncp, Length: 135665, dtype: int64
0

### out_prncp_inv

In [11]:
print(data['out_prncp_inv'].value_counts())
print(data['out_prncp_inv'].isnull().sum())

0.00        229999
6563.61         78
5684.61         77
5617.88         76
6110.65         75
             ...
1273.13          1
16869.63         1
9541.53          1
1273.53          1
3974.41          1
Name: out_prncp_inv, Length: 141189, dtype: int64
0

### total_pymnt

In [8]:
print(data['total_pymnt'].value_counts())
print(data['total_pymnt'].isnull().sum())

6743.730000     117
0.000000         87
5564.780000      78
5497.460000      75
5419.430000      75
               ...
6307.496889       1
4271.330000       1
10706.700000      1
21385.730000      1
8821.620000       1
Name: total_pymnt, Length: 351609, dtype: int64
0

In [9]:
print(data['total_rec_prncp'].value_counts())
print(data['total_rec_prncp'].isnull().sum())

10000.00    13267
12000.00    10469
15000.00     8552
20000.00     7673
8000.00      6522
            ...
16731.08        1
3987.47         1
6927.01         1
11253.08        1
6015.62         1
Name: total_rec_prncp, Length: 172713, dtype: int64
0

In [10]:
print(data['total_rec_int'].value_counts())
print(data['total_rec_int'].isnull().sum())

0.00       379
1249.39     78
1329.13     75
1037.31     74
1350.99     72
          ...
5322.44      1
7909.43      1
9697.29      1
3723.50      1
6072.29      1
Name: total_rec_int, Length: 270249, dtype: int64
0

In [11]:
print(data['total_rec_late_fee'].value_counts())
print(data['total_rec_late_fee'].isnull().sum())

0.000000     455607
15.000000      2223
30.000000       285
45.000000        50
16.840000        15
              ...
15.026894         1
23.190501         1
14.959976         1
37.751380         1
41.150000         1
Name: total_rec_late_fee, Length: 5808, dtype: int64
0

In [12]:
print(data['recoveries'].value_counts())
print(data['recoveries'].isnull().sum())

0.00       441914
14.28           9
11.70           9
200.00          9
10.00           9
            ...
423.23          1
2311.77         1
850.18          1
5052.98         1
1159.40         1
Name: recoveries, Length: 22773, dtype: int64
0

In [13]:
print(data['collection_recovery_fee'].value_counts())
print(data['collection_recovery_fee'].isnull().sum())

0.0000      443079
2.0000          18
1.8000          13
1.8800          12
1.2000          12
             ...
330.4404         1
149.1210         1
2.9795           1
8.8326           1
11.5940          1
Name: collection_recovery_fee, Length: 20275, dtype: int64
0

In [14]:
print(data['last_pymnt_d'].value_counts())
print(data['last_pymnt_d'].isnull().sum())

Jan-16    179620
Dec-15     62000
Jul-15     11703
Oct-15     11248
Sep-15     10204
           ...
Jun-08        20
Mar-08        18
Jan-08        11
Feb-08         8
Dec-07         2
Name: last_pymnt_d, Length: 98, dtype: int64
376

In [15]:
print(data['last_pymnt_amnt'].value_counts())
print(data['last_pymnt_amnt'].isnull().sum())

327.34      860
336.90      828
332.10      625
491.01      579
392.81      567
           ...
2535.08       1
6432.03       1
6705.61       1
14086.04      1
1500.68       1
Name: last_pymnt_amnt, Length: 198194, dtype: int64
0

In [16]:
print(data['next_pymnt_d'].value_counts())
print(data['next_pymnt_d'].isnull().sum())

Feb-16    208393
Jan-16     27922
Mar-11       107
Apr-11       101
Feb-11        91
           ...
Oct-14         2
Feb-08         2
May-08         1
Mar-15         1
Dec-07         1
Name: next_pymnt_d, Length: 100, dtype: int64
227214

In [17]:
print(data['last_credit_pull_d'].value_counts())
print(data['last_credit_pull_d'].isnull().sum())

Jan-16    327699
Dec-15     13992
Nov-15      8384
Sep-15      8051
Oct-15      7957
           ...
Nov-07         3
May-08         1
Jun-08         1
Jul-08         1
Jul-07         1
Name: last_credit_pull_d, Length: 103, dtype: int64
42

In [18]:
print(data['collections_12_mths_ex_med'].value_counts())
print(data['collections_12_mths_ex_med'].isnull().sum())

0.0     462226
1.0       3665
2.0        219
3.0         19
4.0          7
6.0          1
16.0         1
20.0         1
5.0          1
Name: collections_12_mths_ex_med, dtype: int64
145

In [19]:
print(data['mths_since_last_major_derog'].value_counts())
print(data['mths_since_last_major_derog'].isnull().sum())

45.0     1672
46.0     1670
42.0     1656
48.0     1637
41.0     1592
         ...
162.0       1
144.0       1
165.0       1
169.0       1
145.0       1
Name: mths_since_last_major_derog, Length: 162, dtype: int64
367311

In [20]:
print(data['policy_code'].value_counts())
print(data['policy_code'].isnull().sum())

1    466285
Name: policy_code, dtype: int64
0

In [21]:
print(data['application_type'].value_counts())
print(data['application_type'].isnull().sum())

INDIVIDUAL    466285
Name: application_type, dtype: int64
0

In [ ]:
print(data['acc_now_delinq'].value_counts())
print(data['acc_now_delinq'].isnull().sum())