In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# hello world
data = pd.read_csv('loan_data_2007_2014.csv')
data.head()

C:\Users\achib\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Inspection

### loan_amnt

In [11]:
print(data['loan_amnt'].describe())
data['loan_amnt'].isnull().sum()

count    466285.000000
mean      14317.277577
std        8286.509164
min         500.000000
25%        8000.000000
50%       12000.000000
75%       20000.000000
max       35000.000000
Name: loan_amnt, dtype: float64

0

### funded_amnt

In [12]:
print(data['funded_amnt'].describe())
print(data['funded_amnt'].isnull().sum())

count    466285.000000
mean      14291.801044
std        8274.371300
min         500.000000
25%        8000.000000
50%       12000.000000
75%       20000.000000
max       35000.000000
Name: funded_amnt, dtype: float64
0

### funded_amnt_inv

In [13]:
print(data['funded_amnt_inv'].describe())
print(data['funded_amnt_inv'].isnull().sum())

count    466285.000000
mean      14222.329888
std        8297.637788
min           0.000000
25%        8000.000000
50%       12000.000000
75%       19950.000000
max       35000.000000
Name: funded_amnt_inv, dtype: float64
0

### term

In [15]:
print(data['term'].value_counts())
print(data['term'].isnull().sum())

 36 months    337953
 60 months    128332
Name: term, dtype: int64
0

### int_rate

In [16]:
print(data['int_rate'].describe())
print(data['int_rate'].isnull().sum())

count    466285.000000
mean         13.829236
std           4.357587
min           5.420000
25%          10.990000
50%          13.660000
75%          16.490000
max          26.060000
Name: int_rate, dtype: float64
0

### installment

In [17]:
print(data['installment'].describe())
print(data['installment'].isnull().sum())

count    466285.000000
mean        432.061201
std         243.485550
min          15.670000
25%         256.690000
50%         379.890000
75%         566.580000
max        1409.990000
Name: installment, dtype: float64
0

### grade

In [18]:
print(data['grade'].value_counts())
print(data['grade'].isnull().sum())

B    136929
C    125293
D     76888
A     74867
E     35757
F     13229
G      3322
Name: grade, dtype: int64
0

### sub_grade

In [19]:
print(data['sub_grade'].value_counts())
print(data['sub_grade'].isnull().sum())

B3    31686
B4    30505
C1    26953
C2    26740
B2    26610
C3    25317
B5    25252
C4    24105
B1    22876
C5    22178
A5    21757
D1    19261
A4    19045
D2    17046
D3    14916
D4    14099
A3    12568
D5    11566
A2    10956
A1    10541
E1     9033
E2     8669
E3     6976
E4     5992
E5     5087
F1     3940
F2     3001
F3     2708
F4     2067
F5     1513
G1     1109
G2      823
G3      583
G4      422
G5      385
Name: sub_grade, dtype: int64
0

### emp_length

In [20]:
print(data['emp_length'].value_counts())
print(data['emp_length'].isnull().sum())

10+ years    150049
2 years       41373
3 years       36596
< 1 year      36265
5 years       30774
1 year        29622
4 years       28023
7 years       26180
6 years       26112
8 years       22395
9 years       17888
Name: emp_length, dtype: int64
21008

### home_ownership

In [21]:
print(data['home_ownership'].value_counts())
print(data['home_ownership'].isnull().sum())

MORTGAGE    235875
RENT        188473
OWN          41704
OTHER          182
NONE            50
ANY              1
Name: home_ownership, dtype: int64
0

### annual_inc

In [22]:
print(data['annual_inc'].describe())
print(data['annual_inc'].isnull().sum())

count    4.662810e+05
mean     7.327738e+04
std      5.496357e+04
min      1.896000e+03
25%      4.500000e+04
50%      6.300000e+04
75%      8.896000e+04
max      7.500000e+06
Name: annual_inc, dtype: float64
4

### verification_status

In [24]:
print(data['verification_status'].value_counts())
print(data['verification_status'].isnull().sum())

Verified           168055
Source Verified    149993
Not Verified       148237
Name: verification_status, dtype: int64
0

### issue_d

In [26]:
print(data['issue_d'].describe())
print(data['issue_d'].isnull().sum())

count     466285
unique        91
top       Oct-14
freq       38782
Name: issue_d, dtype: object
0

### loan_status

In [27]:
print(data['loan_status'].value_counts())
print(data['loan_status'].isnull().sum())

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64
0

### pymnt_plan

In [28]:
print(data['pymnt_plan'].value_counts())
print(data['pymnt_plan'].isnull().sum())

n    466276
y         9
Name: pymnt_plan, dtype: int64
0

### purpose

In [29]:
print(data['purpose'].value_counts())
print(data['purpose'].isnull().sum())

debt_consolidation    274195
credit_card           104157
home_improvement       26537
other                  23690
major_purchase          9828
small_business          7013
car                     5397
medical                 4602
moving                  2994
vacation                2487
wedding                 2343
house                   2269
educational              422
renewable_energy         351
Name: purpose, dtype: int64
0